body {
    margin: 0;
    padding: 0;
    background-color: #dde6ed;
    color:#004c85;
    font-family: 'Poppins', sans-serif;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "sidebar header header header"
      "sidebar main main main";
    height: 100vh;
  }
  
  
  /* ---------- HEADER ---------- */
  .header {
    grid-area: header;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
  }
  .header-left input{
    border-radius: 20px;
    padding: 10px;
    border: none;
    font-size: 16px;
    
  }
  .menu-icon {
    display: none;
  }
  
  
  /* ---------- SIDEBAR ---------- */
  
  #sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color:#004c85;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    border-radius:15px;
    overflow: hidden;
  }
  
  .sidebar-title {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0px 30px 0px 30px;
  }
  
  .sidebar-title > span {
    display: none;
  }
  
  .sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
  }
  
  .sidebar-list {
    padding: 0;
    list-style-type: none;
  }
  
  .sidebar-list-item {
    padding: 13px 5px 13px 5px;
    font-size: 15px;
    border-radius: 20px;
    color:#dde6ed;
  }
  
  .sidebar-list-item:hover {
    cursor: pointer;
    transform: scale(1.04);
  }
  .sidebar-list-item span{
      font-weight: 500;
      white-space: nowrap;
      opacity: 1;
  }
  
  .sidebar-list-item > a {
    text-decoration: none;
    color: #dde6ed;
  }
  
  
  .sidebar-responsive {
    display: inline !important;
    position: absolute;
    /*
      the z-index of the ApexCharts is 11
      we want the z-index of the sidebar higher so that
      the charts are not showing over the sidebar 
      on small screens
    */
    z-index: 12 !important;
  }
  i{
      margin:8px;
      font-size: 20px;
  }
  
  
  /* ---------- MAIN ---------- */
  
  .main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color:#004c85;
  }
   
form{
    background-color:white;
    border-radius: 10px;
    margin:auto;
    padding: 40px;
}
.input{
display:flex;
justify-content: space-between;
}
input{
    width:350px;
    font-size:20px;
    background-color: #dde6ed;
    margin:10px;
    border: none;
}
label{
  font-weight: 700;
}
#nom_prenom{
  position: relative;
  left: 53px;
}
#adress_admin{
  position: relative;
  left: 10px;
}
#raison{
  width:81%;
}
button{
  background-color: #4CAF50;
  margin-top: 10px;
  padding: 15px;
  align-items:center;
  color: #fff;
  border: none;
  border-radius: 15px;
  width:180px;
  cursor: pointer;
  font-size: larger;
}
button:hover{
  transform: scale(1.02);
  background-color: #76bb78;
}
footer{
  text-align:right;
  
}